/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@font-face {
    font-family: Raleway-Regular;
    src: url('../login/fonts/raleway/Raleway-Regular.ttf');
}

@font-face {
    font-family: Raleway-Medium;
    src: url('../login/fonts/raleway/Raleway-Medium.ttf');
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url('../login/fonts/raleway/Raleway-SemiBold.ttf');
}

@font-face {
    font-family: Raleway-Bold;
    src: url('../login/fonts/raleway/Raleway-Bold.ttf');
}




/* Sticky footer styles
-------------------------------------------------- */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Raleway-Regular, sans-serif;
}

a {
    font-family: Raleway-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}



h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

p {
    font-family: Raleway-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    position: relative;
    min-height: 100%;
}


body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

/*Adicionados*/
.filtroLeft {
    float: left;
    margin-left: 10px;
    min-width: 265px;
}

.pesquisarMarg {
    margin-left: 10px;
}

.filtroR {
    float: left;
    margin-left: 10px;
    min-width: 73%;
}

.cmd12 {
    width: auto;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .filtroLeft {
        float: left;
        margin-left: 10px;
        min-width: 95%;
    }

    .filtroR {
        float: left;
        margin-left: 10px;
        min-width: 100%;
    }
}

@media only screen and (max-width: 479px) {
    .filtroLeft {
        float: left;
        margin-left: 10px;
        min-width: 95%;
    }

    .filtroR {
        float: left;
        margin-left: 10px;
        min-width: 100%;
    }
}



.comment-text-area {
   
    width: calc(100%);
  
   
}

.textinput {
    width: 100%;
    height: 200px;
    outline: none;
    resize: none;
    
}

.tdt {
    color: red;
    font-weight: bold;
    
}